body{
  background-image:  url('images/onepiece10.jpg');
  font-family: 微軟正黑體;
}

.container{
  background-image:  url('images/ocean.jpg');
  background-size: cover;
}

#shop_head{
  margin-bottom: 15px;
}

#shop_main{
  min-height: 200px;
}

#shop_foot{
 background-color: rgb(51, 61, 101);
 color: #fff;
 padding: 30px;
 line-height: 1.8;
 margin: 15px 0px;
}